<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body">
            <div class="p-2">
              <div class="text-center">
                <div class="avatar-md mx-auto">
                  <div class="avatar-title rounded-circle bg-light">
                    <i class="bx bxs-envelope h1 mb-0 text-primary" style="color: #ffa500 !important;"></i>
                  </div>
                </div>
                <div class="p-1 mt-3">
                  <h4>Vérifiez votre adresse e-mail</h4>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="otp">Entrez le Code OTP</label>
                      <ng-otp-input [config]="config" formControlName="otp"  (onInputChange)="onOtpChange($event)"></ng-otp-input>
                      <div *ngIf="otpControlInvalid" class="text-danger">Le code OTP est requis.</div>
                    </div>
                    <div class="mt-4 d-grid">
                      <button type="submit" class="btn btn-success w-md" [disabled]="isSubmitDisabled"
                     style="background-color: #000; border: 1px solid #000; position: relative;">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span *ngIf="!loading">Confirmer</span>
                   </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
